SetEnv APP_ROOT_PATH /CamProject
RewriteEngine On
RewriteBase /CamProject/
RewriteCond %{REQUEST_URI} !^/index.php$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(css|gif|ico|jpg|js|png|swf|txt|svg|woff|ttf|eot)$
RewriteRule ^(.*)$ index.php [L,QSA]